IDI_ICON	ICON    DISCARDABLE     "icon.ico"
201 RCDATA "..\\resources\\APEX-dark.png"
#include <winver.h>
#include "../version.h"
1 VERSIONINFO
FILEVERSION BASKET_VERSION_MAJOR,BASKET_VERSION_MINOR,BASKET_VERSION_PATCH,0
PRODUCTVERSION BASKET_VERSION_MAJOR,BASKET_VERSION_MINOR,BASKET_VERSION_PATCH,0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
FILEFLAGS VS_FF_DEBUG
#else
FILEFLAGS 0
#endif
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE 0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Apex"
            VALUE "FileDescription", "Apex Basket Crane 2"
            VALUE "FileVersion", BASKET_VERSION_STRING
            VALUE "InternalName", "apexBasketCrane2"
            VALUE "ProductName", "Apex Basket Crane 2"
            VALUE "ProductVersion", BASKET_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
